<div class="container footer"
      fxLayout="row"
     fxLayout.xs="column"
     fxLayout.sm="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutWrap=""
     fxLayoutGap="10px">

  <div fxFlex="100%" fxFlex.gt-sm="50%">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <md-list>
          <md-list-item><a md-button>Home</a></md-list-item>
          <md-list-item><a md-button>About</a></md-list-item>
          <md-list-item><a md-button>Media</a></md-list-item>
          <!--<md-list-item><a md-button>Contact</a> </md-list-item>-->
        </md-list>
      </div>

      <div fxFlex="50">
        <h4>Address</h4>
        <address style="text-size: 80%">
          everywhere<br>right next to you<br>
          <i class="fa fa-phone"></i>:+111 11 111<br>
          <i class="fa fa-fax"></i>:+111 11 111<br>
          <i class="fa fa-envelope"></i>: <a href="mailto:paddypuru@gmail.com">u@me.meet</a>
        </address>
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.gt-sm="45%">
    <div style="text-align:center">
      <a md-icon-button class="btn-facebook" href="https://plus.google.com/">fb</a>
      <a md-icon-button class="btn-google-plus" href="https://plus.google.com/">plus</a>
      <a md-icon-button class="btn-twitter" href="https://plus.google.com/">t</a>
      <a md-icon-button class="btn-mail" href="https://plus.google.com/">mail</a>
      <a md-icon-button class="btn-linkedin" href="https://linkedin.com/">in</a>
      <a md-icon-button class="btn-youtube" href="https://plus.google.com/">yt</a>
    </div>
  </div>

  <div fxFlex="100" fxFlexAlign="center center">
    <div style="text-align: center">
      <p>&copy; Copyright 2017 anidatum</p>
    </div>
  </div>

</div>
