<div class="container"
     fxLayout="row"
     fxLayoutGap="10px"
     layout-align="end"
     style="min-height: 600px;">

    <div id="toolbox" fxFlex="20%" ng-class="{'vis-hidden': editingMode==true}">
        <div>
            Main toolbox hun
            <img style="max-height:100%; max-width:100%;"
                 src="https://s-media-cache-ak0.pinimg.com/736x/2c/52/e6/2c52e6af6a04a818af44b388b9b4f2d6--cereal-box-crafts-cereal-boxes.jpg">
        </div>
    </div>

    <div fxFlex="40%" fxLayout="column">
        <div id="img_div" fxLayout="column" fxFlex="90%">

            <img src="{{image.src}}" style="max-width:100%;max-height:100%">
        </div>
        <div fxLayout="row" fxFlex="10%">
            <button md-button [routerLink]="['/images', prev]">
                <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button md-button [routerLink]="['/images', next]">
                <span class="fa fa-chevron-right fa-lg"></span>
            </button>
        </div>

    </div>
    <div fxFlex="20%">
        <md-list *ngIf="image">
            <h3>Labels</h3>
            <md-list-item>
                <p md-line>{{image.label}}</p>
            </md-list-item>
        </md-list>
    </div>


    <div fx-layout-align="end" style="float:right;" fxFlex="20%">
        <md-toolbar color="primary">
            <span class="fill-space"></span>

            <button md-button *ngIf="editingMode" (click)="clearCanvas()">Clear</button>
            <button md-button (click)="submitAnnotation()">Submit</button>
            <button class="background-primary text-floral-white" *ngIf="!editingMode" md-button
                    (click)="activateEditingMode()">Draw
            </button>
            <button class="background-primary text-floral-white" *ngIf="editingMode" md-button
                    (click)="deactivateEditingMode()">Cancel
            </button>
        </md-toolbar>

    </div>
</div>
