<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayoutGap="100px"
     layout-fill
     layout-align="right">

    <div *ngIf="image">
        <div fxFlex="50%">
            <md-card>
                <md-card-header>
                    <md-card-title>
                        {{image.id}}
                    </md-card-title>
                </md-card-header>
                <img src="{{image.src}}" style="max-height:80%; max-width:100%;">
            </md-card>
        </div>
        <div>
            <md-list *ngIf="image">
                <h3>Labels</h3>
                <md-list-item>
                    <p md-line>{{image.label}}</p>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>
